[submodule "chessGame"]
    path = chessGame
    url = https://github.com/Mech654/chessGame.git

[submodule "weatherApp"]
    path = weatherApp
    url = https://github.com/Mech654/weatherApp.git
[submodule "Fullstack_Website"]
	path = Fullstack_Website
	url = https://github.com/Mech654/Fullstack_Website
